

body{
   background-color: #FEB2B2;
width: 100%;
height:100vh;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(images/happily-ever-after-in-bed.jpg);
    background-repeat: no-repeat;
    background-position: top;
    opacity: 75%;
    background-size:cover;

}
.align{
    padding: 100px;
}
#button{
    margin-top: 50px;
    width:100px;
    height: 25px;
    background-color:white;
    border-width: 2px;
    border-style: solid;
    border-color: #da2287;
    z-index: 2;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    align-self: center;
    color: #da2287;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    display: block;
    top:75%;
    left: 45%;
   


}

h1, h2{
    display: center;
    font-size: large;
    text-align: center;
    font-size: xx-large;}
h2{
    font-size: x-large;
    }

.massause{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    z-index: 3;
    position: relative;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-style:solid ;
    margin-top: -15px;
    
}